body { 
    padding-top: 65px; 
    font-family: 'Trebuchet MS';
}

@font-face {
    font-family: 'Trebuchet MS'; /*a name to be used later*/
    src: url('{{ URL::to('font/Trebuchet MS') }}'); /*URL to font*/
}

.envienta-logo {
	padding-right: 20px;
    padding-top: 9px;
}

.navbar-nav > li > a {
  line-height: 30px;
  font-size: 1.3em;
}

.navbar-inverse {
    background-color: #4296B6;
    border-color: #4296b6;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3e89a6;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    background-color: #4296b6;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #3e89a6;
}

.dropdown-menu {
    background-color: #4296b6;
}

.dropdown-menu > li > a {
    color: #fff;
}

.navbar-inverse .navbar-form {
    padding-top: 5px;
}

.dropdown-menu {
    border-bottom: 5px solid #9ccadc;
}












