body { 
    padding-top: 65px; 
    font-family: 'Trebuchet MS';
}

@font-face {
    font-family: 'Trebuchet MS'; /*a name to be used later*/
    src: url('{{ URL::to('font/Trebuchet MS') }}'); /*URL to font*/
}

.envienta-logo {
	padding-right: 20px;
}

.navbar-collapse {
	height: 100px;
}

.navbar-inverse {
    background-color: #4296B6;
    border-color: #4296b6;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3e89a6;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    background-color: #4296b6;
}


