:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow-bottom { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#env_paragraph{
  height: 8em;
  overflow-y: hidden;
}

#env_link {
  text-decoration: none;
  color: inherit;
}

.env_uploaded_div {
  height: 2em;
  padding-top: 0.4em;
}

.env_p {
  font-size: 0.8em;
}

.env_edit {
  cursor: pointer;
}

/*#env_board {
  height: 100%
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/water.jpg');
}*/



















